/* 字体头像 */
.text-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #419488;
    line-height: 30px;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 20px;
}
/* 默认先让头像隐藏一个 */
.layui-nav-img {
    display: none;
}
.iconfont {
    margin-right: 8px;
    vertical-align: middle;
}
.layui-icon {
    margin-right: 8px;
}
.userinfo {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    user-select: none;
}
.welcome {
    color: #fff;
    font-size: 12px;
}
/* iframe */
iframe{
    width: 100%;
    height: 100%;
}
/* 去掉iframe的滚动条   给父级div 加一个样式overflow：hidden */
.layui-body {
    overflow: hidden;
}